<h3> <%= @studio.name %> </h3>
<p> Studio Location: <%= @studio.location %> </p>

<p>Movies from <%= @studio.name %>:</p>
<ul>
  <% @movies.each do |movie| %>
    <li><%= movie.title %></li>
  <% end %>
</ul>
